---
title: Richard Sinclair
---

<div class="container-fluid aboutbg">
    <div class="aboutbg__content">
        <div class="aboutText">
            <h1>Richard Sinclair</h1>
            <p>Artist - Photographer</p>
        </div>
    </div>
</div>

<div class="container text-width about" style="margin-top: 4%;">
    <div class="row">
        <p>
            sculpt. Art was something I have always been obsessed about.
            I studied Fine Art at university. During my time at there I was inspired by music and my home country Portugal.
        <p>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h4>Education</h4>
        </div>
        <div class="col-sm-6">
            <p>Ba hons Fine Art - University for the creative arts 2011 - 2014</p>
            <p>Cyprus?</p>
            <p>Foundation Art</p>
            <p>Portugal?</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h4>Exhibitions</h4>
        </div>
        <div class="col-sm-6">
            <p>Camden</p>
            <p>Canterbury</p>
            <p>Hackney</p>
            <p>Canterbury</p>
            <p>Estoril</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
            <h4>Email</h4>
        </div>
        <div class="col-sm-6">
            <p>richardssinclair@gmail.com</p>
        </div>
    </div>
    <%= partial 'partials/social' %>
</div>

