---
title: Richard Sinclair
---

<div class="container art-grid" style="margin-top: 2%;">
  <div class="row">
    <a href="/pencilsPaint">
      <div class="col-lg-6 col-md-6 art-img" style="text-align: center;">
        <div class="pencil-paint">
        </div>
          <a href="/pencilsPaint">Pencils & Paintbrushes</a>
      </div>
    </a>

    <a href="/sculpture">
      <div class="col-lg-6 col-md-6 art-img" style="text-align: center;">
        <div class="sculpt">
        </div>
        <a href="/sculpture">Sculptural Elements</a>
      </div>
    </a>

    <a href="/photo">
      <div class="col-lg-6 col-md-6 art-img" style="text-align: center;">
        <div class="photo">
        </div>

        <a href="/photo">Point and Click</a>
      </div>
    </a>

    <a href="/film">
      <div class="col-lg-6 col-md-6 art-img" style="text-align: center;">
        <div class="film">
        </div>

        <a href="/film">Miving image</a>
      </div>
    </a>


  </div>
  <%= partial 'partials/social' %>
</div>


<!--<img class="img-fluid" src="/images/art.jpg" alt="">-->
