---
title: Richard Sinclair
---

<div class="container-fluid photography animated fadeIn">
<div class="slider-for">
    <div class="images">
        <div class="item">
          
        <div class="img-fill"><img src="https://carbonmade-media.accelerator.net/31674453;960x640.webp" alt="image"  draggable="false"/></div>
        </div> 
    </div>
    <div class="images">
    <div class="item">
        <div class="img-fill"><img src="https://carbonmade-media.accelerator.net/31411798;960x636.webp" alt="image" draggable="false"/></div>
    </div>
    </div>
    <div class="images">
    <div class="item">
        <div class="img-fill"><img src="https://carbonmade-media.accelerator.net/31411787;640x960.webp" alt="image" draggable="false"/></div>
    </div>
    </div>
    <div class="images">
    <div class="item">
    <div class="img-fill"><img src="https://carbonmade-media.accelerator.net/31411788;960x640.webp" alt="image" draggable="false"/></div>
    </div>
    </div>
    <div class="images">
    <div class="item">
        <div class="img-fill"><img src="https://carbonmade-media.accelerator.net/29656818;960x642.webp" alt="image" draggable="false"/></div>
    </div>
    </div>
</div>

<%= partial 'partials/social' %>

</div>